#Navbar{
    border:1px solid black;
    /* height:50px; */
}
.nav{
    margin-left:15%;
    text-decoration: none;
    font-size: 25px;;
    color:red;
}
.inputBoxes{
    height:30px;
    margin-top: 10px;;
    width:40%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
#searchData{
    /* border:1px solid black; */
    margin-top:1%;
    width:40%;
    padding-left: 30%;;
}
.searchitem{
    border:1px solid black;
    padding:2%;
    
}
#items{
    display: grid;
    margin-top: 2%;
    grid-template-columns: repeat(4,1fr);
    /* gap:3%; */
}
img{
    width:60%;

}
#itemsData{
    /* border:1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
#Sorting-properties{
    margin-top:10px;
    margin-right:90%;
    width:250px;
    height:40px;
    padding:10px;
    color:red;
    background-color: rgb(159, 159, 172);
    border-color: none;
}
#Sorting-properties1{
    /* width:250px; */
    height:40px;
}
#sort{
    margin:20px;
}
