#Navbar{
    border:1px solid black;
    height:50px;
}
.nav{
    margin-left:15%;
    text-decoration: none;
    font-size: 25px;;
    color:red;
}
.inputBoxes{
    height:30px;
    margin-top: 10px;;
    width:40%;

}
#searchData{
    /* border:1px solid black; */
    margin-top:1%;
    width:40%;
    padding-left: 30%;;
}
.searchitem{
    border:1px solid black;
    padding:2%;
    
}
#items{
    display: grid;
    margin-top: 2%;;
    grid-template-columns: repeat(4,1fr);
    gap:4%;
}
img{
    width:90%;

}